<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Fuel Prices</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25704631-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <nav class="topbar">
      <div class="fill">
        <div class="container">
          <h3><%= link_to 'Fuel Prices', root_path %></h3>

          <ul>
            <li<%= request.path == root_path ? ' class="active"'.html_safe : '' %>><%= link_to 'Home', root_path %></li>
            <li<%= request.path.starts_with?(fuel_prices_path) ? ' class="active"'.html_safe : '' %>><%= link_to 'Fuel Prices', fuel_prices_path %></li>
          </ul>

          <ul class="nav secondary-nav">
            <% if user_signed_in? %>
              <li>
                <a href="#" class="dropdown-toggle"><%= current_user.name %></a>
                <ul class="menu-dropdown">
                  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                  <li class="divider">---</li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li<%= request.path == new_user_session_path ? ' class="active"'.html_safe : '' %>><%= link_to 'Sign in', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <article id="main" role="main" class="container">
      <section id="flash">
        <% if notice.present? %>
          <div class="alert-message success">
            <a href="#" class="close">x</a>
            <p>
              <%= notice.html_safe %>
            </p>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="alert-message error">
            <a href="#" class="close">x</a>
            <p>
              <%= alert.html_safe %>
            </p>
          </div>
        <% end %>
      </section>

      <%= yield %>
    </article>

    <footer class="container">
      <p>
        Copyright &copy; <%= Date.today.year %>, <%= link_to 'Graeme Mathieson', 'http://woss.name/' %>.
      </p>
    </footer>
  </body>
</html>
